.row > .col {
    border-style: solid;
    border-radius: 10px;
    border-color: #FE107E;
    margin: 10px;   
    height:auto;
    display: flexbox;
   }
   
   h1 {
       font-family: Arial, Helvetica, sans-serif;
       color: #FE107E;
   }

.row > .col > table > tbody > div > #row > #name {
    font-size: 20px;
    color: #FE107E;
}